* {
  box-sizing: border-box;
}
.fullsize {
  width: 100%;
  height: 100%;
}
.nobound {
  margin: 0%;
  padding: 0%;
}
.p-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@-webkit-keyframes load {
  0% {
    width: 0%;
  }
  15% {
    width: 0%;
  }
  30% {
    width: 5%;
  }
  100% {
    width: 40%;
  }
}
@keyframes load {
  0% {
    width: 0%;
  }
  15% {
    width: 0%;
  }
  30% {
    width: 5%;
  }
  100% {
    width: 40%;
  }
}
body,
html {
  width: 100%;
  height: 100%;
  background-image: url("assets/background.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: 'Comfortaa', cursive;
  color: rgba(255, 255, 255, 0.9);
  z-index: -2;
}
#dashboard {
  width: 100%;
  height: 100%;
  width: 95%;
  margin: auto;
  position: absolute;
  top: 0%;
  display: none;
}
#dashboard .header {
  height: 15%;
}
#dashboard #patient-content {
  height: 85%;
}
#dashboard #patient-content .patient-record,
#dashboard #patient-content .patient-data {
  height: 100%;
  margin-top: 2%;
}
#dashboard nav {
  border-bottom: 1px rgba(255, 255, 255, 0.9) solid;
  padding: 1%;
}
#dashboard nav img {
  display: inline-block;
  width: 5%;
}
#dashboard nav h3 {
  display: inline-block;
  margin: 0%;
  padding: 0%;
  color: rgba(255, 255, 255, 0.9);
  vertical-align: middle;
  padding-right: 1%;
  border-right: 1px rgba(255, 255, 255, 0.9) solid;
  margin-left: -1%;
}
#dashboard nav form {
  display: inline-block;
  width: 40%;
}
#dashboard nav form input {
  color: rgba(255, 255, 255, 0.9);
  width: 100%;
  background: none;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#dashboard nav form input:focus {
  outline: none;
  border: none;
}
#dashboard nav form input::placeholder {
  color: rgba(255, 255, 255, 0.9);
}
#dashboard nav .add-button {
  width: 13%;
  display: inline-block;
  background: none;
}
#dashboard nav .add-button .fa-plus {
  padding-right: 8%;
}
#dashboard nav .profile-button {
  width: 10%;
  display: inline-block;
  background: none;
  margin-left: 1%;
  padding: 0;
}
#dashboard nav .profile-button img {
  margin: 0% 2%;
  width: 20%;
}
#dashboard nav .button {
  color: rgba(255, 255, 255, 0.9);
  margin-top: 0.5%;
  text-align: center;
  padding: 1%;
  border: 1px rgba(255, 255, 255, 0.9) solid;
  border-radius: 7px;
}
#dashboard nav .button:hover {
  cursor: pointer;
  background: rgba(250, 250, 250, 0.3);
}
#dashboard .loading {
  width: 100%;
  height: 100%;
}
#dashboard .loading .fa-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 400%;
}
#dashboard #add-patient {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  width: 50%;
  height: 50%;
  margin: 4% auto;
  background: rgba(255, 255, 255, 0.1);
  border: 1px rgba(255, 255, 255, 0.9) solid;
  border-radius: 7px;
  padding: 10%;
}
#dashboard #add-patient .absolute {
  position: relative;
  width: 100%;
  height: 100%;
}
#dashboard #add-patient .absolute h3 {
  margin-top: -5%;
}
#dashboard #add-patient .absolute input {
  text-align: center;
  margin-top: 10%;
  background: none;
  border: none;
  border-bottom: 1px rgba(255, 255, 255, 0.9) solid;
}
#dashboard #add-patient .absolute input:focus {
  outline: none;
}
#dashboard #add-patient .absolute i.fa-close {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: -100%;
  left: 125%;
  font-size: 130%;
}
#dashboard #add-patient .absolute i.fa-close:hover {
  cursor: pointer;
}
#dashboard #add-patient .absolute div {
  margin-top: 10%;
}
#dashboard #add-patient .absolute div i {
  font-size: 150%;
  opacity: 0.8;
}
#dashboard #add-patient .absolute div i:hover {
  font-size: 140%;
  opacity: 1;
  cursor: pointer;
}
#dashboard #report {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 62%;
  width: 97%;
  height: 90%;
  background: rgba(255, 255, 255, 0.1);
  border: 1px rgba(255, 255, 255, 0.9) solid;
  border-radius: 7px;
  padding: 3%;
}
#dashboard #report .absolute {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}
#dashboard #report .absolute i.fa-close {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 1%;
  left: 99%;
  font-size: 140%;
}
#dashboard #report table {
  background: rgba(255, 255, 255, 0.1);
  width: 90%;
  margin: auto;
  margin-top: 5%;
  font-size: 130%;
}
#dashboard #report table th,
#dashboard #report table td {
  text-align: center;
  padding: 1%;
}
