<div id="dashboard" class="fadeIn animated">
<div class="row header">
  <nav>
    <img src="../../assets/medilink2_logo_white.png" alt="logo">
    <h3>medlink</h3>
    <form>
      <input type="text" name="search" class="form-control" [(ngModel)]="searchterm"
             placeholder="Search..." (input)="search()" />
    </form>
    <div class="profile-button button pull-right"><span>E820318</span><img src="../../assets/profile-picture.jpg" class="img-circle pull-right" alt="profile-picture">
    </div>
    <div class="add-button button pull-right" (click)="addPatient()"><i class="fa fa-plus"></i> Add Patient</div>
  </nav>
</div>

<div id="patient-content" class="row" *ngIf="searchstate === 'found'">
  <div class="col-lg-8 patient-record">
    <app-records></app-records>
  </div>
  <div class="col-lg-4 patient-data">
    <app-profile-data></app-profile-data>
  </div>
</div>

<div class="loading" *ngIf="searchstate === 'searching'">
  <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
</div>

<div id="add-patient" class="fadeIn animated text-center">
  <div class="absolute">
    <i class="fa fa-close" (click)="closeAddPatient()"></i>

    <h3>Enter Medlink ID</h3>
    <input type="text" name="patientId" [(ngModel)]="newPatientId">

    <div (click)="postPatient()">
    <i class="fa fa-paper-plane"></i>
    </div>
  </div>
</div>
</div>
