<div id="dashboard" class="fadeIn animated">
<div class="row header">
  <nav>
    <img src="../../assets/medilink2_logo_white.png" alt="logo">
    <h3>medlink</h3>
    <form>
      <input type="text" name="search" class="form-control" [(ngModel)]="searchterm"
             placeholder="Search..." (input)="search()" />
    </form>
    <div class="profile-button button pull-right"><span>E820318</span><img src="../../assets/profile-picture.jpg" class="img-circle pull-right" alt="profile-picture">
    </div>
    <div class="add-button button pull-right" (click)="addPatient()"><i class="fa fa-plus"></i> Add Patient</div>
  </nav>
</div>

<div id="patient-content" class="row" *ngIf="searchstate === 'found'">
  <div class="col-lg-8 patient-record">
    <app-records></app-records>
  </div>
  <div class="col-lg-4 patient-data">
    <app-profile-data></app-profile-data>
  </div>
</div>

<div class="loading" *ngIf="searchstate === 'searching'">
  <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
</div>

<div id="add-patient" class="fadeIn animated text-center">
  <div class="absolute">
    <i class="fa fa-close" (click)="closeAddPatient()"></i>

    <h3>Enter Medlink ID</h3>
    <input type="text" name="patientId" [(ngModel)]="newPatientId">

    <div (click)="postPatient()">
    <i class="fa fa-paper-plane"></i>
    </div>
  </div>
</div>








  <div id="report" class="fadeIn animated text-center">
    <div class="absolute">
      <i class="fa fa-close" (click)="closeReport()"></i>

      <h1>Medical Report</h1>

      <table class="table-bordered">
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>NIN</th>
          <th>Sex</th>
          <th>Date of Birth</th>
        </tr>
        <tr>
          <td>{{ report[0].firstName }}</td>
          <td>{{ report[0].secondName }}</td>
          <td>{{ report[0].NIN }}</td>
          <td>{{ report[0].sex }}</td>
          <td>{{ report[0].dob }}</td>
        </tr>
        <tr>
          <th>Address</th>
          <th>City</th>
          <th>Region</th>
          <th>ZIP Code</th>
          <th>Country</th>
        </tr>
        <tr>
          <td>{{ report[0].address.street }} {{ report[0].address.number}}</td>
          <td>{{ report[0].address.city }}</td>
          <td> - </td>
          <td>{{ report[0].address.zip }}</td>
          <td>{{ report[0].address.country }}</td>
        </tr>
        <tr>
          <th colspan="5">Diagnose / Meeting Reason</th>
        </tr>
        <tr>
          <td colspan="5">{{ report[1][1].name }}</td>
        </tr>
        <tr>
          <th colspan="2">Category</th>
          <th>Time</th>
          <th>Date</th>
          <th>Place</th>
        </tr>
        <tr>
          <td colspan="2">{{ report[1][1].category }}</td>
          <td>{{ report[1][1].time }}</td>
          <td>{{ report[1][1].date }}</td>
          <td>{{ report[1][1].place }}</td>
        </tr>
        <tr>
          <th colspan="5">Factors Control & Health Preview</th>
        </tr>
        <tr>
          <th>Heartrate</th>
          <th>Blood Pressure</th>
          <th>External symptoms</th>
          <th>Internal Symptoms</th>
          <th>Breath</th>
        </tr>
        <tr>
          <th>{{ report[1][1].data.pulse }}</th>
          <th>{{ report[1][1].data.bloodpressure }}</th>
          <th>{{ report[1][1].data.extSymptoms }}</th>
          <th>{{ report[1][1].data.intSymptoms }}</th>
          <th>{{ report[1][1].data.breath }}</th>
        </tr>
        <tr>
          <th colspan="5">Diagnosis</th>
        </tr>
        <tr>
          <td colspan="5">{{ report[1][1].data.diagnosis }}</td>
        </tr>
      </table>
    </div>
  </div>



</div>
