@import '../../styles';

// ----------------------------------------------------------------
#dashboard {
  .fullsize;
  width: 95%;
  margin: auto;
  position: absolute;
  top: 0%;
  display: none;

  .header {
    height: 15%;
  }

  #patient-content {
    height: 85%;

    .patient-record, .patient-data {
      height: 100%;
      margin-top: 2%;
    }
  }

  nav {
    border-bottom: 1px @main-font-color solid;
    padding: 1%;

    img {
      display: inline-block;
      width: 5%;
    }

    h3 {
      display: inline-block;
      .nobound;
      color: @main-font-color;
      vertical-align: middle;
      padding-right: 1%;
      border-right: 1px @main-font-color solid;
      margin-left: -1%;
    }

    form {
      display: inline-block;
      width: 40%;

      input {
        color: @main-font-color;
        width: 100%;
        background: none;
        border: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;

        &:focus {
          outline: none;
          border: none;
        }

        &::placeholder {
          color: @main-font-color;
        }

      }
    }

    .add-button {
      width: 13%;
      display: inline-block;
      background: none;

      .fa-plus {
        padding-right: 8%;
      }
    }

    .profile-button {
      width: 10%;
      display: inline-block;
      background: none;
      margin-left: 1%;
      padding: 0;

      img {
        margin: 0% 2%;
        width: 20%;
      }
    }

    .button {
      color: @main-font-color;
      margin-top: 0.5%;
      text-align: center;
      padding: 1%;
      border: 1px @main-font-color solid;
      border-radius: 7px;

      &:hover {
        cursor: pointer;
        background: rgba(250, 250, 250, 0.3);
      }
    }
  }

  .loading {
    .fullsize;

    .fa-spinner {
      .p-center;
      font-size: 400%;
    }
  }

  #add-patient {
    .p-center;
    display: none;

    width: 50%;
    height: 50%;
    margin: 4% auto;
    background: rgba(255, 255, 255, 0.1);
    border: 1px @main-font-color solid;
    border-radius: 7px;
    padding: 10%;

    .absolute {
      position: relative;
      .fullsize;

      h3 {
        margin-top: -5%;
      }

      input {
        text-align: center;
        margin-top: 10%;
        background: none;
        border: none;
        border-bottom: 1px @main-font-color solid;


        &:focus {
          outline: none;
        }
      }


      i.fa-close {
        .p-center;
        top: -100%;
        left: 125%;

        font-size: 130%;

        &:hover {
          cursor: pointer;
        }
      }

      div {
        margin-top: 10%;

        i {
          font-size: 150%;
          opacity: 0.8;

          &:hover {
            font-size: 140%;
            opacity: 1;
            cursor: pointer;
          }
        }
      }
    }

  }

  #report {
    .p-center;
    top: 62%;
    width: 97%;
    height: 90%;
    background: rgba(255, 255, 255, 0.1);
    border: 1px @main-font-color solid;
    border-radius: 7px;
    padding: 3%;

    .absolute {
      position: relative;
      .fullsize;
      text-align: center;

      i.fa-close {
        .p-center;
        top: 1%;
        left: 99%;
        font-size: 140%;
      }
    }

    table {
      background: rgba(255, 255, 255, 0.1);
      width: 90%;
      margin: auto;
      margin-top: 5%;
      font-size: 130%;

      th, td {
        text-align: center;
        padding: 1%;
      }
    }
  }
}


