@import '../../styles';

// ----------------------------------------------------------------

div {
  outline: 1px red solid;
}

.header {
  height: 15%;
}

.patient-content {
  height: 85%;

  .patient-record, .patient-data {
    height: 100%;
  }
}
