@import '../../styles';

// ----------------------------------------------------------------

.container-fluid {
  .fullsize;

  img {
    .p-center;
    top: 25%;
    width: 15%;
  }

  h1 {
    .p-center;
    top: 35%;
    opacity: 0.8;
  }

  form {
    .p-center;

    input {
      display: block;
    }
  }
}

