* {
  box-sizing: border-box;
}
.fullsize {
  width: 100%;
  height: 100%;
}
.nobound {
  margin: 0%;
  padding: 0%;
}
.p-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@-webkit-keyframes load {
  0% {
    width: 0%;
  }
  15% {
    width: 0%;
  }
  30% {
    width: 5%;
  }
  100% {
    width: 40%;
  }
}
@keyframes load {
  0% {
    width: 0%;
  }
  15% {
    width: 0%;
  }
  30% {
    width: 5%;
  }
  100% {
    width: 40%;
  }
}
body,
html {
  width: 100%;
  height: 100%;
  background-image: url("assets/background.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: 'Comfortaa', cursive;
  color: rgba(255, 255, 255, 0.9);
  z-index: -2;
}
#records {
  width: 100%;
  height: 100%;
}
#records .record-item {
  width: 100%;
  height: 5%;
  background: rgba(255, 255, 255, 0.1);
  border: 1px rgba(255, 255, 255, 0.9) solid;
  border-radius: 7px;
  padding: 1%;
  margin-bottom: 2%;
}
#records .record-item:hover {
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
#records .record-item .record-content {
  width: 100%;
  height: 100%;
  min-height: 5em;
  margin: auto;
}
#records .record-item .record-content img {
  width: 50%;
  margin: 10% auto;
}
#records .record-item .record-content .record-info {
  height: 100%;
  padding-left: 5%;
  border-left: 1px rgba(255, 255, 255, 0.9) solid;
}
#records .record-item .record-content .record-info h3 {
  margin: 0%;
  padding: 0%;
  font-size: 140%;
  margin: 2% 0%;
  letter-spacing: 0.1em;
}
#records .record-item .record-content .record-info h3 span {
  font-size: 70%;
  opacity: 0.8;
}
#records .record-item .record-content .record-info span {
  opacity: 0.8;
}
